@import "variables.scss";
@import "mixin.scss"; 

@include body($color_primary,$color_secondary);

body{
    color: rgba($color: $color_primary, $alpha: 0.4);
    background-color: $color_standar;

    #mapid { height:100% }

    header{
        background-color: $color_primary;
        height: 10%;
    }
    section{
        height: 80%;
    }
    footer{
        height: 5%;
        background-color: $color_secondary;
    }
}