@mixin body($cp,$cs){
    body * {
        &.dark{
            background-color: $cp;
            color:$cs;
        }
        &.ligth{
            background-color: $cs;
            color:$cp;
        }
    }  
}